@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rubik';
  margin: 0px;
  font-size: 18px;
}

.domainCard {
@apply bg-white rounded border-b-[1px] border-b-gray-200 px-3 py-3  flex justify-between items-center w-full cursor-pointer hover:bg-gray-200;
}

.disabledDomain {
@apply text-red-600;
}

.header {
@apply leading-[50px] bg-gray-300 mb-7 flex justify-between align-middle h-14 fixed w-full;
}

.dinamicContent {
@apply flex  flex-1 w-full flex-col overflow-y-auto mt-[140px] h-full ;  
}