@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rubik';
  margin: 0px;
  font-size: 18px;
  overflow-y: scroll;
}

.domainCard {
@apply leading-[50px] bg-white rounded border-b-[1px] border-b-gray-200 px-3  flex justify-between items-center w-full cursor-pointer hover:bg-[#ffe0b3];
}

.disabledDomain {
@apply text-red-600;
}

.header {
@apply leading-[50px] bg-gray-200 mb-7 flex justify-between align-middle h-14 fixed w-full border-y-[1px] border-gray-400;
}

.dinamicContent {
@apply flex  flex-1 w-full flex-col overflow-y-auto mt-[145px] h-full ;  
}

.actionButton {
@apply flex w-[25%] border-[1px] border-transparent hover:border-blue-700 h-[50px] justify-center rounded items-center ;
}

.noButton {
@apply w-[25%] border-[1px] border-transparent;
}

